<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Newsletter subscription confirmation"}} @-->
<!--@vars {
"var subscriber_data.confirmation_link":"Subscriber Confirmation URL"
} @-->

{{template config_path="design/email/header_template"}}

<h1 style="text-align: center;">{{trans 'Welcome !'}}</h1>

<p style="text-align: center;">{{trans 'Thank you for your interest in our newsletter! Please click on the following button to complete your newsletter subscription.'}}</p>
<p style="margin-top:50px;margin-bottom:30px;text-align: center;">{{trans 'Kind regards,'}}<br/>{{trans 'Your <b>AIGNER</b> team' |raw}}</p>

{{template config_path="design/email/footer_template"}}
