<?xml version="1.0"?>
<!-- 
/**
 * Copyright © 2023 Trans Fashion Indonesia. All rights reserved.
 * https://transfashionindonesia.com
 *
 * @category Trans
 * @package  Trans_Customer
 * @license  Proprietary
 *
 * @author   Edi Suryadi <edisuryadi2004@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Trans_Customer" setup_version="1.0.4">
	 	<sequence>
		   <module name="Magento_Customer"/>
	    </sequence>
	</module>
</config>