<?xml version="1.0"?>
<!--
/**
 * Copyright © 2021 CT Corp Digital. All rights reserved.
 * https://www.ctcorpdigital.com
 *
 * @category CTCD
 * @package  CTCD_Core
 * @license  Proprietary
 *
 * @author   Edi Suryadi <edi.suryadi@ctcorpdigital.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="CTCD_Core::core" title="CTCD" translate="title" module="CTCD_Core" sortOrder="51" dependsOnModule="CTCD_Core" resource="CTCD_Core::core"/>
        <add id="CTCD_Core::configurations" title="Module Configurations" translate="title" module="CTCD_Core" sortOrder="0" dependsOnModule="CTCD_Core" resource="CTCD_Core::configurations" parent="CTCD_Core::core"/>
		<add id="CTCD_Core::configuration" title="Base Configuration" translate="title" module="CTCD_Core" sortOrder="0" dependsOnModule="CTCD_Core" resource="CTCD_Core::configuration" parent="CTCD_Core::configurations" action="adminhtml/system_config/edit/section/ctcdcore"/>
    </menu>
</config>
